.container {
    display:grid;
    grid-template-columns: repeat(4,400px);
    grid-template-rows: [row1-start] 70px [row1-end row2-start] 30px [row2-end row3-start] 400px [row3-end row4-start] 325px [row4-end row5-start] 30px [row5-end row6-start] 25px [row6-end];
    background:white;
}

/*.grid {
    background-color:white;
    display: grid;
    grid-template-columns: repeat(6,400px);
    grid-template-rows: 70px 30px 400px 325px 30px 25px;
}*/

.body {
    margin: 0 auto;
    padding:0;
    background: white;
}

/*from freecodecamp*/

.header {
    background: #FF5959;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:5;
    content:""
}


}

.logo {
    float: left;
}

.nav1{
    float: right;
}

.nav1 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav1 li{
    display: block;
    margin left: 10px;
    padding-top: 5px;

}

.nav1 a{
    color: white;
    text decoration: none;
    font-size: 25px;
}

.nav1 a:hover{
    color: black;
}

.nav1 input[type=text]{
    float: right;
    padding: 5px;
    border: none;
    margin-top: 8px;
    margin-right:16px;
    font-size: 19;
}



/* grid starter.wrapper {
    display: grid;
    grid-template-columns: 200px 50px 100px;
    grid-template-rows: 50px 50px;
} from freecodecamp/*


/* to add things to the grid
.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
} fromfreecodecamp*/



